In [1]:
library(readxl)
library(dplyr)
library(ggplot2)

customer_r <- read_excel("customer_r.xlsx")
reservation_r <- read_excel("reservation_r.xlsx")
order_info_r <- read_excel("order_info_r.xlsx")
item_r <- read_excel("item_r.xlsx")
colnames(customer_r) <- tolower(colnames(customer_r))
colnames(reservation_r) <- tolower(colnames(reservation_r))
colnames(order_info_r) <- tolower(colnames(order_info_r))
colnames(item_r) <- tolower(colnames(item_r))

Warning message:
"package 'dplyr' was built under R version 3.6.3"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'ggplot2' was built under R version 3.6.3"

In [2]:
# 고객별 스테이크 주문 여부 확인
# 모든 고객의 예약 번호 데이터셋 생성
df_rsv_customer <- reservation_r %>% 
    select(customer_id, reserv_no) %>%    #고객별 모든 예약 번호 선택
    arrange(customer_id, reserv_no)

head(df_rsv_customer)

  customer_id reserv_no
1 W1327595    2019061801
2 W1327595    2019071801
3 W1327803    2019060301
4 W1327803    2019091506
5 W1328432    2019060601
6 W1328432    2019060701

In [3]:
#스테이크 주문예약번호 데이터셋 생성
df_steak_order_rsv_no <- order_info_r %>% 
    filter(item_id == 'M0005') %>%    # 주문이 스테이크면
    mutate(steak_order = 'Y') %>%    # steak_order 열 데이터를 'Y'로 만든다
    arrange(reserv_no)

head(df_steak_order_rsv_no)

  order_no           item_id reserv_no  quantity sales  steak_order
1 190603578341100100 M0005   2019060301 4        140000 Y
2 190606607189610010 M0005   2019060601 4        140000 Y
3 190616137200510010 M0005   2019061601 3        105000 Y
4 190708517202310010 M0005   2019070801 2         70000 Y
5 190710578348100100 M0005   2019071002 3        105000 Y
6 190718107186310010 M0005   2019071801 4        140000 Y

In [7]:
df_steak_order_1 <- left_join(df_rsv_customer, df_steak_order_rsv_no, by='reserv_no') %>% 
    group_by(customer_id) %>%    # 고객 번호로 그룹화
    mutate(steak_order = ifelse(is.na(steak_order), 'N', 'Y')) %>%    # 주문 여부가 NA이면 N, Y이면 Y로 바꾼다
    summarise(steak_order = max(steak_order)) %>%    #최대값만 취한다
    arrange(customer_id)

df_dpd_var <- df_steak_order_1    #최종 정리된 고객별 스테이크 주문여부
tail(df_dpd_var)    # 종속변수, 최종고객 182명의 스테이크 주문여부 결과확인

  customer_id steak_order
1 W371982     N
2 W373103     Y
3 W373150     N
4 W374992     N
5 W375192     Y
6 W376429     N

In [6]:
#결측치 제거. 성별이 없으면(NA) 고객 번호 제거
df_customer <- customer_r %>% filter(!is.na(sex_code))

#고객 테이블과 에약 테이블 customer_id를 키로 이너 조인
df_table_join_1 <- inner_join(df_customer, reservation_r, by='customer_id')

#df_table_join_1과 주문 테이블의 reserv_no를 키로 이너 조인
df_table_join_2 <- inner_join(df_table_join_1, order_info_r, by='reserv_no')
str(df_table_join_2) # df_table_join_2 테이블 구조 확인

tibble [322 x 19] (S3: tbl_df/tbl/data.frame)
 $ customer_id   : chr [1:322] "W1346506" "W1347648" "W1347756" "W1347984" ...
 $ customer_name : chr [1:322] "고객71" "고객72" "고객73" "고객74" ...
 $ phone_number  : chr [1:322] "010-1111-1181" "010-1111-1182" "010-1111-1183" "010-1111-1184" ...
 $ email         : chr [1:322] "scust71@sfnb.co.kr" "scust72@sfnb.co.kr" "scust73@sfnb.co.kr" "scust74@sfnb.co.kr" ...
 $ first_reg_date: chr [1:322] "19/09/01" "19/09/04" "19/09/05" "19/09/06" ...
 $ sex_code      : chr [1:322] "F" "M" "M" "M" ...
 $ birth         : chr [1:322] "19820922" "19940812" "19931217" "19810822" ...
 $ job           : chr [1:322] "자영업" "학생" NA "자영업" ...
 $ zip_code      : chr [1:322] "122100" "140100" "152100" "130100" ...
 $ reserv_no     : chr [1:322] "2019102002" "2019092301" "2019111301" "2019120201" ...
 $ reserv_date   : chr [1:322] "20191020" "20190923" "20191113" "20191202" ...
 $ reserv_time   : chr [1:322] "1800" "1800" "1200" "1200" ...
 $ branch        : chr [1:322] "중구" "강남" "중구" "송파" ...
 $ visitor_cnt   : num [1:322] 2 1 2 3 2 2 2 2 1 2 ...
 $ cancel        : chr [1:322] "N" "N" "N" "N" ...
 $ order_no      : chr [1:322] "191020573101100100" "190923567847010020" "191113607314510010" "191202107316910010" ...
 $ item_id       : chr [1:322] "M0002" "M0001" "M0003" "M0010" ...
 $ quantity      : num [1:322] 2 1 2 3 2 2 1 1 1 2 ...
 $ sales         : num [1:322] 24000 24000 34000 18000 70000 70000 17000 17000 10000 24000 ...

In [12]:
#고객 정보, 성별 정보와 방문 횟수, 매출 합을 요약
df_table_join_3 <- df_table_join_2 %>% 
    group_by(customer_id, sex_code, reserv_no, visitor_cnt) %>% 
    summarise(sales_sum = sum(sales)) %>% 
    group_by(customer_id, sex_code) %>% 
    summarise(visit_sum = n_distinct(reserv_no), visitor_sum = sum(visitor_cnt), sales_sum=sum(sales_sum)/1000) %>% 
    arrange(customer_id)
#n_distinct(reserv_no) : reserv_no의 고유 값만 표시한다

df_idp_var <- df_table_join_3    #독립 변수
df_idp_var    #독립 변수 확인

#중복이 아닌 값을 카운팅하는 함수. 여기서는 중복이 아닌 주문 예약 번호, 즉 방문횟수를 세게 된다.
#분석에 필요한 열만 그룹핑해 정리한다

`summarise()` has grouped output by 'customer_id', 'sex_code', 'reserv_no'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'customer_id'. You can override using the `.groups` argument.

    customer_id sex_code visit_sum visitor_sum sales_sum
1   W1327595    M        2          6          188
2   W1327803    M        2          6          210
3   W1328432    M        3         12          246
4   W1328505    F        5         15          287
5   W1328786    M        1          1           10
6   W1328985    M        2          6          178
7   W1328993    F        1          4          140
8   W1329560    M        1          2           24
9   W1329954    M        1          2           48
10  W1329962    M        2          4           48
11  W1330024    M        1          3           30
12  W1330211    M        1          4           54
13  W1330464    F        1          3          105
14  W1331022    M        2          7          158
15  W1331023    M        1          2           70
16  W1331028    F        2          4           67
17  W1331108    F        1          1           10
18  W1331124    M        4         10          290
19  W1331302    M        2          7          176
20  W1331712    M        1          1            6
21  W1332641    M        2          7          132
22  W1333008    M        2          3           25
23  W1333222    M        5         19          346
24  W1333818    M        3          9          135
25  W1334298    F        1          4          100
26  W1334299    M        1          3          105
27  W1334366    M        5         10          262
28  W1334489    M        1          3           36
29  W1334565    M        1          7          126
30  W1335068    F        1          3           51
... ...         ...      ...       ...         ...
113 W1376941    F        1          4          140
114 W1377607    M        1          3           30
115 W1379344    F        1          4          140
116 W329803     M        2          5          129
117 W331726     F        1          2           70
118 W335138     M        1          4           24
119 W335276     M        1          7           75
120 W336341     F        1          1           10
121 W339492     F        1          3           36
122 W343269     M        1          2           16
123 W344324     M        3         17          239
124 W345397     F        3          6          110
125 W345737     F        2          8          205
126 W346987     F        1          9          216
127 W348130     M        1          2           40
128 W348551     F        2         14           78
129 W349096     F        1          3           50
130 W350187     F        1          1           43
131 W350657     M        1          8          280
132 W351511     F        3          8           80
133 W359586     F        1          1           10
134 W366551     F        1          6           82
135 W366641     F        2          8          280
136 W367946     M        1          8           51
137 W368037     M        3         13          210
138 W370526     F        2          5           94
139 W370765     F        1          5          175
140 W373103     M        1          2           70
141 W373150     M        1          2           20
142 W376429     M        1          2           48